* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, helvetica, sans-serif;
  transition: all 0.2s linear;
  --color: rgba(255, 0, 0, 0.95);
  --color2: rgb(255, 174, 0);
}

.navbarDS {
  width: 100%;
  height: 60px;
  background-color: #23252b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.title {
  font-size: 33px;
  color: white;
  position: relative;
  right: 70px;
}

.titlebar {
  height: 60px;
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid white; */
  position: relative;
  right: 180px;
}

.titlebar .navs {
  height: 60px;
  width: 100px;
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
  position: relative;
  right: 120px;
  margin-right: -80px;
  margin-left: -80px;
}

.titlebar a {
  color: aliceblue;
  text-decoration: none;
  font-size: 24px;
  border-radius: 0.2rem;
}

header .titlebar .navs:hover {
  color: black;
  background-color: var(--color);
  cursor: pointer;
}

.searchAni {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  left: 0px;
}

.searchAni input {
  padding: 5px 55px;
  border-radius: 12px;
  background-color: rgba(245, 245, 245, 0.938);
  position: relative;
  right: -90px;
}

.searchAni input::placeholder {
  color: darkgrey;
  font-size: 18px;
  position: relative;
  right: 29px;
}

.profile {
  height: 40px;
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: white;
  background-size: auto;
  position: relative;
  left: 40px;
  z-index: -1;
}

.profile i {
  font-size: 25px;
  position: relative;
  left: 7px;
  top: 4px;
}

/* <--Video section--> */

.hero_section {
  height: 680px;
  position: relative;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border:1px solid red */
}

.hero {
  height: 680px;
  width: 80%;
  position: relative;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  

  /* background: linear-gradient(180deg, transparent, black); */
  background: linear-gradient(0deg, transparent, black);
}

.videot {
  position: absolute;
  height: 680px;
  top: 0px;
  left: 0px;
  z-index: 0;
  bottom: 5px;
  z-index: -1;
}

.Contname {
  height: 200px;
  width: 60%;
}

.Aname {
  height: 80px;
  width: 250px;
  /* background-color: white; */
  position: relative;
  top: 400px;
  left: 20px;
}

.Aname img {
  height: 80px;
  width: 250px;
}

.discription {
  height: 200px;
  width: 900px;
  position: relative;
  top: 400px;
  left: 25px;
  opacity: 0.8;
}

.discription p {
  font-size: 20px;
  color: white;
}

.Acontents {
  height: 620px;
  width: 21%;
  position: relative;
  top:-30px ;
  background-color: #343a40;
  opacity: .9;
}

.Sphoto {
  height: 280px;
  width: 200px;
  /* border: 1px solid white; */
  position: relative;
  left: 60px;
  top: 20px;
  background-size: cover;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.Sphoto img {
  height: 280px;
  width: 200px;
}

.Sbtn {
  height: 40px;
  width: 120px;
  /* border: 1px solid white; */
  background-color: rgb(173, 255, 47);
  position: relative;
  top: 50px;
  left: 100px;
  border-radius: 25px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.Sbtn a {
 text-decoration: none;
}

.Sbtn p {
  color: black;
  font-weight: 550;
  position: relative;
  top: 12px;
}

.Sbtn:hover {
  background-color: var(--color2);
  cursor: pointer;
}

.details {
  height: 280px;
  width: 300px;
  /* border: 1px solid white; */
  position: relative;
  top: 60px;
  overflow: hidden;
}

#linebox {
  height: 19px;
  width: 80px;
  margin: 14px;
  /* border: 1px solid white; */
}

#dstyle {
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 700;
}

#rstyle {
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
  position: relative;
  /* border: 1px solid white; */
  height: 19px;
  width: 300px;
}

.airline {
  left: 48px;
  bottom: 17px;
}

.dualine {
  left: 68px;
  bottom: 17px;
}

.scoline {
  left: 78px;
  bottom: 17px;
}

.stdline {
  left: 64px;
  bottom: 17px;
}

.genline {
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 300;
  position: relative;

  /* align-items: center; */
}

.gen1 {
  height: 22px;
  width: 62px;
  border: 1px solid white;
  border-radius: 15px;
  position: relative;
  bottom: 20px;
  left: 50px;
}

.gen1 p {
  position: relative;
  top: 1.5px;
  left: 17%;
}

.gen2 {
  height: 22px;
  width: 62px;
  border: 1px solid white;
  border-radius: 15px;
  position: relative;
  bottom: 42px;
  left: 118px;
}

.gen2 p {
  position: relative;
  top: 1.5px;
  left: 15%;
}

.gen3 {
  height: 22px;
  width: 62px;
  border: 1px solid white;
  border-radius: 15px;
  position: relative;
  bottom: 64px;
  left: 185px;
}

.gen3 p {
  position: relative;
  top: 1.5px;
  left: 15%;
}

.gen4 {
  height: 22px;
  width: 80px;
  border: 1px solid white;
  border-radius: 15px;
  position: relative;
  bottom: 55px;
}

.gen4 p {
  position: relative;
  top: 1.5px;
  left: 14%;
}

.gen5 {
  height: 22px;
  width: 57px;
  border: 1px solid white;
  border-radius: 15px;
  position: relative;
  bottom: 77px;
  left: 86px;
}

.gen5 p {
  position: relative;
  top: 1.5px;
  left: 17%;
}

.lang {
  position: relative;
  top: 30px;
}

.langline {
  position: relative;
  left: 85px;
  bottom: 17px;
}


/*** footer ***/

footer{
  height: 110px;
  width: 100%;
  background-color: #282a30;
  border-top: 1px solid white;
}

.title2 {
  font-size: 33px;
  color: white;
  position: relative;
  left:18px;
  top: 15px;
  width: 500px;
}

.endbar span{
  color: white;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: .7;
} 

.enspan1{
height: 18px;
width: 1160px;
position: relative;
top: 17px;
left: 20px;

} 

.enspan2{
  height: 18px;
width: 1160px;
  position: relative;
  top: 18px;
  left: 20px;
}


